.cart{
    display: flex;
    height: 89vh;
    & > div {
        flex: 1;
    }
    &__user-info{
        height: 100%;
        margin-right: 5rem;
        display: flex;
        flex-direction: column;
        &-form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            flex: 1;
            margin: auto 0;
            width: 100%;          
        }
    }
    &__order{
        // border: 1px solid black;
        &-items{
            height: 74%;
            overflow-y: scroll;
        }
        &-item{
            display: flex;
            position: relative;
            padding: 1rem;
            border-radius: 5px;
            background-color: lightgray;
            img{
                object-fit: cover;
                border-radius: 5px;
                height: 200px;
                width: 300px;
            }
            &-info{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                text-align: center;
                input{
                    width: 50%;
                }
                button{
                    position: absolute;
                    top: 1rem;
                    right: 10px;
                }
            }
        }
        &-checkout{
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            padding: 1rem 0;
            div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                input + button{
                    margin-left: 1rem;
                }
                p, .cart__order-submit{
                    font-size: 1.5rem;
                }
            }
            div + div{
                margin-top: 1rem;
            }
        }
        &-item + &-item{
            margin-top: 1rem;
        }
    }
}